# fly.toml app configuration file generated for magroup-links on 2024-01-13T06:36:28+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "magroup-links"
primary_region = "ams"

[build]

[env]
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
  swap_size_mb = 512
